@model CallCenter.Models.WorkPlatformModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkPlatformModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalacementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalacementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastWorkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastWorkDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
