@model IEnumerable<CallCenter.Models.WorkPlatformModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PalacementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastWorkDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PalacementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastWorkDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
